#container
{
    background-color: black;
    color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
     
}
img{
    height: 100px;
    width: 100px;
}